{% extends "ecgdir/base.html" %}

{% block bootstrap3_content %}
  <div class="container">
    <p><a href="{% url 'index' %}">&lt;&lt; Volver</a></p>
    <h1>{{ organization.name }}</h1>
    <p>
      {% if organization.registered_name %}
        <strong>Nombre comercial</strong>: {{ organization.registered_name }}<br />
      {% endif %}
      {% if organization.cif_nif %}
        <strong>CIF / NIF</strong>: {{ organization.cif_nif }}<br />
      {% endif %}
      {% if organization.address_street_number or organization.province %}
        <strong>Dirección</strong>:
        {{ organization.address_street_number }}
        {{ organization.address_other }}
        {{ organization.zipco }}
        {{ organization.city }}
        {% if organization.province %}({{ organization.province }}){% endif %}
        <br />
      {% endif %}
    </p>
    <p>
      {% if organization.economic_sector %}
        <strong>Sector económico</strong>: {{ organization.economic_sector }}<br />
      {% endif %}
      {% if organization.legal_form %}
        <strong>Forma jurídica</strong>:
        {{ organization.legal_form }}
        {% if organization.legal_form_other %} ({{ organization.legal_form_other }}){% endif %}
        <br />
      {% endif %}
      {% if organization.number_of_employees %}
        <strong>Nº empleados</strong>: {{ organization.number_of_employees }}<br />
      {% endif %}
      {% if organization.turnover %}
        <strong>Facturación</strong>: {{ organization.turnover }}<br />
      {% endif %}
    </p>
    <p>
      {% if organization.contact_person %}
        <strong>Persona de contacto</strong>: {{ organization.contact_person }}<br />
      {% endif %}
      {% if organization.contact_email %}
        <strong>Email</strong>: {{ organization.contact_email }}<br />
      {% endif %}
      {% if organization.contact_phone %}
        <strong>Teléfono</strong>: {{ organization.contact_phone }}<br />
      {% endif %}
    </p>
    <p>
      {% if organization.ecg_link_person %}
        <strong>Contacto en la EBC</strong>: {{ organization.ecg_link_person }}<br />
      {% endif %}
      {% if organization.ecg_field %}
        <strong>Campo de energía</strong>: {{ organization.ecg_field }}<br />
      {% endif %}
      {% if organization.ecg_seed %}
        <strong>Semilla EBC</strong>: {{ organization.ecg_seed }}<br />
      {% endif %}
    </p>
    <p>
      {% if organization.balance_date %}
        <strong>Fecha del balance</strong>: {{ organization.balance_date }}<br />
      {% endif %}
      {% if organization.balance_version %}
        <strong>Versión utilizada de la matriz</strong>:
        {{ organization.balance_version }}
        {% if organization.balance_version_other %} ({{ organization.balance_version_other }}){% endif %}
        <br />
      {% endif %}
      {% if organization.global_score %}
        <strong>Puntuación global</strong>: {{ organization.global_score }}<br />
      {% endif %}
      {% if organization.consultant %}
        <strong>Consultor</strong>: {{ organization.consultant }}<br />
      {% endif %}
      {% if organization.auditor %}
        <strong>Auditor</strong>: {{ organization.auditor }}<br />
      {% endif %}
      {% if organization.evaluation %}
        <strong>Evaluación</strong>: <br />
        {{ organization.evaluation|linebreaksbr }}<br />
      {% endif %}
    </p>

    {% if organization.score_a1 != None %}
      <p><strong>Matriz del Bien Común</strong></p>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th width="16.67%">&nbsp;</th>
              <th width="16.66%">Dignidad humana</th>
              <th width="16.66%">Solidaridad</th>
              <th width="16.66%">Sostenibilidad ecológica</th>
              <th width="16.66%">Justicia social</th>
              <th width="16.66%">Participación democrática y transparencia</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>A) Proveedores</th>
              <td>{% if organization.score_a1 != None %}A1: {{ organization.score_a1 }}{% endif %}</td>
              <td>{% if organization.score_a2 != None %}A2: {{ organization.score_a2 }}{% endif %}</td>
              <td>{% if organization.score_a3 != None %}A3: {{ organization.score_a3 }}{% endif %}</td>
              <td>{% if organization.score_a4 != None %}A4: {{ organization.score_a4 }}{% endif %}</td>
              <td>{% if organization.score_a5 != None %}A5: {{ organization.score_a5 }}{% endif %}</td>
            </tr>
            <tr>
              <th>B) Financiadores</th>
              <td>{% if organization.score_b1 != None %}B1: {{ organization.score_b1 }}{% endif %}</td>
              <td>{% if organization.score_b2 != None %}B2: {{ organization.score_b2 }}{% endif %}</td>
              <td>{% if organization.score_b3 != None %}B3: {{ organization.score_b3 }}{% endif %}</td>
              <td>{% if organization.score_b4 != None %}B4: {{ organization.score_b4 }}{% endif %}</td>
              <td>{% if organization.score_b5 != None %}B5: {{ organization.score_b5 }}{% endif %}</td>
            </tr>
            <tr>
              <th>C) Empleados (inclusive propietarios)</th>
              <td>{% if organization.score_c1 != None %}C1: {{ organization.score_c1 }}{% endif %}</td>
              <td>{% if organization.score_c2 != None %}C2: {{ organization.score_c2 }}{% endif %}</td>
              <td>{% if organization.score_c3 != None %}C3: {{ organization.score_c3 }}{% endif %}</td>
              <td>{% if organization.score_c4 != None %}C4: {{ organization.score_c4 }}{% endif %}</td>
              <td>{% if organization.score_c5 != None %}C5: {{ organization.score_c5 }}{% endif %}</td>
            </tr>
            <tr>
              <th>D) Clientes / productos / servicios / co-empresas</th>
              <td>{% if organization.score_d1 != None %}D1: {{ organization.score_d1 }}{% endif %}</td>
              <td>{% if organization.score_d2 != None %}D2: {{ organization.score_d2 }}{% endif %}</td>
              <td>{% if organization.score_d3 != None %}D3: {{ organization.score_d3 }}{% endif %}</td>
              <td>{% if organization.score_d4 != None %}D4: {{ organization.score_d4 }}{% endif %}</td>
              <td>{% if organization.score_d5 != None %}D5: {{ organization.score_d5 }}{% endif %}</td>
            </tr>
            <tr>
              <th>E) Ámbito social</th>
              <td>{% if organization.score_e1 != None %}E1: {{ organization.score_e1 }}{% endif %}</td>
              <td>{% if organization.score_e2 != None %}E2: {{ organization.score_e2 }}{% endif %}</td>
              <td>{% if organization.score_e3 != None %}E3: {{ organization.score_e3 }}{% endif %}</td>
              <td>{% if organization.score_e4 != None %}E4: {{ organization.score_e4 }}{% endif %}</td>
              <td>{% if organization.score_e5 != None %}E5: {{ organization.score_e5 }}{% endif %}</td>
            </tr>
            <tr>
              <th>N) Criterios negativos</th>
              <td>
                  {% if organization.score_n1 != None %}N1: {{ organization.score_n1 }}{% endif %}<br />
                  {% if organization.score_n2 != None %}N2: {{ organization.score_n2 }}{% endif %}<br />
                  {% if organization.score_n3 != None %}N3: {{ organization.score_n3 }}{% endif %}
              </td>
              <td>
                  {% if organization.score_n4 != None %}N4: {{ organization.score_n4 }}{% endif %}<br />
                  {% if organization.score_n5 != None %}N5: {{ organization.score_n5 }}{% endif %}<br />
                  {% if organization.score_n6 != None %}N6: {{ organization.score_n6 }}{% endif %}
              </td>
              <td>
                  {% if organization.score_n7 != None %}N7: {{ organization.score_n7 }}{% endif %}<br />
                  {% if organization.score_n8 != None %}N8: {{ organization.score_n8 }}{% endif %}<br />
                  {% if organization.score_n9 != None %}N9: {{ organization.score_n9 }}{% endif %}
              </td>
              <td>
                  {% if organization.score_n10 != None %}N10: {{ organization.score_n10 }}{% endif %}<br />
                  {% if organization.score_n11 != None %}N11: {{ organization.score_n11 }}{% endif %}<br />
                  {% if organization.score_n12 != None %}N12: {{ organization.score_n12 }}{% endif %}<br />
                  {% if organization.score_n13 != None %}N13: {{ organization.score_n13 }}{% endif %}
              </td>
              <td>
                  {% if organization.score_n14 != None %}N14: {{ organization.score_n14 }}{% endif %}<br />
                  {% if organization.score_n15 != None %}N15: {{ organization.score_n15 }}{% endif %}<br />
                  {% if organization.score_n16 != None %}N16: {{ organization.score_n16 }}{% endif %}<br />
                  {% if organization.score_n17 != None %}N17: {{ organization.score_n17 }}{% endif %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>
{% endblock %}
